<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>About Us | HACK n CONF</title>
		<link rel="stylesheet" type="text/css" href="./assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="./assets/css/style.css">
		<script src="./assets/js/jquery-3.4.1.min.js"></script>
		<script src="./assets/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]
				<script src="./js/browser-ie.js"></script>
		<![endif]-->
</head>

<body>
		<header>
			<%- include('header.ejs') %>
		</header>
		<%- include('navigation.ejs') %>
		<main class="col-md-12">
				<section>
						<br/>
						<div class="col-md-1"></div>
						<article class="col-md-4 well">
								<header>
										<h2>Our Mission</h2>
										<h4>To provide you information about all Hackathons and Conferences</h4>
								</header>
								<br/>
								<p class="intro">At HACK n CONF, we are enthusiastic about the Hackathon and Conference events.</p>
								<p class="intro">These events are a vital part of the technology industry as they give exposure and a platform for Technophiles, Entrepreneurs, Technology Evangelists and Enthusiasts to showcase their skills and work.</p>
								<p class="intro">We help to bridge the gap and connect the organizations to the right people and help with you with the necessary information about all the Hackathons and Conferences.</p>
							</article>
					</section>
		</main>

		<footer>
			<%- include('footer.ejs') %>
		</footer>
</body>
</html>
