<nav id="navfoot" class="navbar navbar-fixed-bottom branding">
    <div class="container-fluid">
        <div class="row">
            <div id="footernav" class="col-md-6">
                <ul class="nav navbar-nav">
                    <li><a>&copy; 2020 - HACK n CONF | All Rights Reserved</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-2">
                <ul class="nav navbar-nav">
                    <li><a href="#"><img class="img-responsive" src="/assets/images/fb.svg" alt="Facebook"></a></li>
                    <li><a href="#"><img class="img-responsive" src="/assets/images/twitter.svg" alt="Twitter"></a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
