<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>Contact Us | HACK n CONF</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<script src="/assets/js/jquery-3.4.1.min.js"></script>
		<script src="/assets/js/bootstrap.min.js"></script>
		<!--[if lt IE 9]
			<script src="./js/browser-ie.js"></script>
		<![endif]-->
</head>

<body>
		<header>
				<%- include('header.ejs') %>
		</header>
		<%- include('navigation.ejs') %>
		<main class="col-md-12">
				<section>
						<br/>
						<div class="col-md-1"></div>
						<article class="col-md-4 well">
								<header>
										<h2>Connect With Us</h2>
										<h4>Queries? Please give us a call or send us an email</h4>
								</header>
								<br/>
								<p class="intro"><strong>Email:</strong> support@hacknconf.com</p>
								<p class="intro"><strong>Contact:</strong> (980)-HAC-CONF</p>
						</article>
				</section>
		</main>

		<footer>
				<%- include('footer.ejs') %>
		</footer>
</body>
</html>
